
<head>
   <link rel="stylesheet" href="/css/admin_user.css">
      <script src="../../router.mjs" defer> </script>
<title>Welcome to our website</title>
</head>
<body>
<div class="welcome">
<h1>Welcome to consumer bucket</h1>

<h2>Are you administrator or user</h2>
<form>
  <input type="button" onClick="location.href='/login_admin'" id="admin" name="admin" value="Admin"><br>

  <input type="button" onClick="location.href='/login'" id="user"  name="user" value="User">

</input></form>
</form>
</div>
</body>