/* Reset some default styles */


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map { 
  width: 40vh;
 height:50vh }

/* Style the map container */

/* Style the file upload container */
#upFile {
  position: absolute;
  top: 20%;
  right: 0;
  margin-right :400px;
}

.par1 {
    font-weight: bold;
    text-align: left;
   margin-left: 25px ;
}



.but1 {
  width: 40%;
  height: 40px;
  margin-top:20px;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
 border: none;
 margin-left: 0.5em;
}

.but1:hover {
    background-color: #0056b3;
}

.offer-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.offer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}


.offer-details {
  font-size: 14px;
}


.offer-details a {
  color: #007BFF;
  text-decoration: none;
  margin-right: 10px;
}


.offer-details a:hover {
  text-decoration: underline;
}
#superButton{
  background-color: #49c1a2;
  color: white;

}


form {
  margin-right: 400px;
  font-size: 20px;
  padding: 7px;
  border-radius:6px ;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-end; /* Align the map to the left */
  align-items: center; /* Vertically center items */
}

#button,#delBut{
  background-color: #49c1a2;
  color: white;
  font-size: 15px;
  margin-left:150px;
}
