

<head>
    <link rel="stylesheet" href="/css/createOffer.css">
    <title>Create New Offer</title>
</head>

    <h1>Create New Offer</h1>
    <form autocomplete="off">
    <!--<form action="/submit_offer" method="POST"> 
    -->
     <label for="superName">Supermarket Name:</label>
        <input type="text" id="superName" name="superName" placeholder="Supermarket" required><br><br>
        <span id="suggestionSuper"></span>

        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" placeholder="Product" required><br><br>
        <span id="suggestionProd"></span>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.1" required><br><br>

        <input type="submit" id="submitOffer"value="Submit Offer">
        
    </form>

    
  <script src="/javascript/createOffer.js"></script>

