
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetails.css">
    <title>Product Details</title>
</head>
<body>
    <div class="product-details-container">
        <h1>Product Details</h1>
        <div id="product-details">
            {{#if itemName}} {{itemName}} {{/if}} Price: {{#if price}} {{price}} {{/if}}
        </div>
        <div class="like-dislike-buttons">
            <button id="like-button">Like</button>

            <button id="dislike-button">Dislike</button>
        </div>
    </div>
    <script src="product_details.js"></script>
</body>

