 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Καλάθι του νοικοκυριού</title>
    <link rel="stylesheet" href="login.css">
  
     <link rel="stylesheet" href="/css/viewScore.css">
      <script src="/javascript/viewScore.js" defer></script>
      <script src="../../router.mjs" defer> </script>
</head>
  <div id="page">
   
       <h1 id="text">The leaderboards are:</h1> 
       <ul id="itemList">
          {{#each usersData}}
            <li>
                 <span>Username:</span> {{this.username}} -
                <span>Points:</span> {{this.points}} -
                <span>Tokens:</span> {{this.tokens}}
            </li>
        {{/each}}


       </ul>



  </div>
   