  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Καλάθι του νοικοκυριού</title>
    <link rel="stylesheet" href="login.css">
  
     <link rel="stylesheet" href="/css/login.css">
      <script src="/javascript/login.js" defer></script>
      <script src="../../router.mjs" defer> </script>
</head>
  <div class="signup">
  <h1> Login</h1>
  <form  action="/homepage" method="post">
    <label for="username">Username</label>
    <input type="username" placeholder="username" id="username" name="username" required value={{#if username}} {{username}} {{/if}} >
    <label for="password">Password</label>
<input type="password" placeholder="" id="password" name="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])).{8,}" required>
<div class="vision">
<label for="toggle" id="ltoggle"> Show password:</label>
<input type="checkbox" id="toggle">
</div>
<button type="submit"> Submit </button>
{{#if message}}  <h4 class="alreadyExist">{{message}}</h4>  {{/if}}
    </div>
    <p>
        Not have an account? <a href="signup">Signup here</a>
    </p>

  