body{
    background-color: lightblue;
    font-family:sans-serif;
}
.welcome{
   width: 500px;
   height: 400px;
   margin: auto;
   background-color: white;
}

h1,h2{
    text-align: center;
    padding-top:16px;
    
    
}

form  {
    display: flex;
    
}

form input{
    width: 30%;
    padding:7px;
    margin: 40px;
    background-color: #49c1a2;
}